<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>TASK DETAILS</h2>
    <hr>
    Employee ID : <%= task.employeeid %> <br>
    Employee Name : <%= name %> <br><hr>
    
    <h3>TASK ASSIGNED</h3>
    Task Description : <%= task.task.description %> <br>
    Task Material : <a href="<%= task.task.material %>"> <%= task.task.material %></a>

</body>
</html>