<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TASK HISTORY</title>
</head>
<body>
    <%- include('./profileimage', {employee: loggeduser}); %>
    <h4>task history about <%= name %> </h4><hr>
    <% if(tasks){ %>
            <% tasks.forEach(function(task){ %>

                <p>bossname : <%= task.bossname %></p>
                <p>task details :<ul>
                    <li><%= task.task.description %> </li>
                    <li><%= task.task.material %> </li>
                </ul></p>
                <p>completed details :
                    <ul>
                        <li><%= task.complete.description %> </li>
                        <li><%= task.complete.material %> </li>
                    </ul>
                </p>
                <hr>
            <% }) %>
        <% } %>
</body>
</html>