<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>allemployees</title>
</head>
<body>
    <h3>Assign a task to a employee</h3>
    <ul>

        <% users.forEach(function(user){ %>    
            <% if(user.task == true){%>
            <li><a href="/boss/showtask/<%= user._id %>/<%= user.name %>"> <%= user.name %> </a> 
            - task already assigned  
            <hr>
        </li>
           <% } else { %>
            <li><a href="/boss/update/<%= user._id  %>"> <%= user.name %> </a> 
                 
                <hr>
            </li>
            <% } %>
            <% })%>
    
       </ul>

</body>
</html>